.info-card {
  display: flex;
  align-items: flex-start;
  gap: 33px;
  background: #ffffff;
}

.info-card__icon {
  width: 66px;
  height: 66px;
  border-radius: 50px;
  padding: 19px;
  background: #dbeafe;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.info-card__content {
  width: 100%;
  max-width: 330px;
}

.info-card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 50px;
  color: #102D47;
}

.info-card__text {
  margin: 0 0 23px;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -1px;
  font-weight: 400;
  color: #547593;
}

.info-card__link {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  text-decoration: none;  
}

.info-card__linkText {
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;     
  letter-spacing: -1px;
  color: #2F73F2;
}

.info-card__arrow {
  font-size: 18px;
  line-height: 1;
  color: #2F73F2;
}

.info-card__link:hover {
  text-decoration: underline;
}

/* Tablet */
@media (max-width: 1024px) {
  .info-card {
    gap: 24px;
  }

  .info-card__content {
    max-width: 360px;
  }

  .info-card__title {
    font-size: 18px;
    line-height: 28px;
  }

  .info-card__text {
    font-size: 18px;
    line-height: 30px;
  }

  .info-card__linkText {
    font-size: 16px;
    line-height: 24px; 
  }
}

/* Mobile */
@media (max-width: 768px) {
  .info-card {
    gap: 18px;
  }

  .info-card__icon {
    width: 56px;
    height: 56px;
    padding: 16px;
    margin-top: 6px;
  }

  .info-card__content {
    max-width: 100%;
  }

  .info-card__title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  .info-card__text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
  }

  .info-card__link {
    gap: 10px;
  }

  .info-card__linkText {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.5px;
  }

  .info-card__arrow {
    font-size: 18px;
  }
}

/* Small phones */
@media (max-width: 480px) {
  .info-card {
    /* flex-direction: column; */
    gap: 14px;
  }

  .info-card__icon {
    margin-top: 0;
  }
}