.pages-hero {
    background-color: #EFFBFF;
    padding: 135px 0px 61px 0px;
    text-align: center;
  }
  
  .pages-hero-content {
    max-width: 462px;
    margin: 0 auto;
  }
  
  .pages-hero h1 {
    font-size: 50px;
    font-weight: 700;
    color: #102D47;
    line-height: 60px !important;
    letter-spacing: -3px;
    margin-bottom: 19px;
    padding: 0;
  }
  
  .pages-hero p {
    font-size: 20px;
    font-weight: 400;
    color: #102D47;
    line-height: 30px;
    letter-spacing: -1px;
    padding: 0;
    margin: 0;
  }
  